.Name{
    text-align: center;
}

body{
    background-color: linear-gradient(100deg,#9d98ae,pink);
    background-image: url(/ui/img/haha.jpg);
    background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-o-background-size: 100% 100%, auto;
-moz-background-size: 100% 100%, auto;
-webkit-background-size: 100% 100%, auto;
background-size: 100% 100%, auto;
    min-height: 100vh;
    text-shadow: 1px 1px pink;
    color: #fff; 
    border: 1px inset rgba(235, 152, 166, 0.315);
    text-align: center;
}
.Members{
    
    display: block;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 18px;
    width: 320px;
    color: #fff; 
}

.Info{
    display: block;
    
    
    width: 320px;
}
a{
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.253);
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}
.Image{
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
}

.geo {
   grid-area: map;
   margin: 0 auto;
   width: 100%;
   min-width: 320px;
   height: 400px;
   align-self:center;
}